<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"> 
<title>Welcome to arongblog</title>
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="elegant_font/style.css" />
<!--[if lte IE 7]><script src="elegant_font/lte-ie7.js"></script><![endif]-->
<link rel="stylesheet" href="css/magnific-popup.css">
<link rel="stylesheet" href="css/slider-pro.css">
<link rel="stylesheet" href="css/owl.carousel.css">
<link rel="stylesheet" href="css/owl.theme.css">
<link rel="stylesheet" href="css/owl.transitions.css">
	<link rel="stylesheet" href="elegant_font/style.css">
<link rel="stylesheet" href="css/style.css">

<!--[if lt IE 9]>
	<script src="js/html5shiv.min.js"></script>
	<script src="js/respond.min.js"></script>
<![endif]-->
</head>

<body>
<!-- Preloader -->
<div class="preloader">
	<div class="status"></div>
</div>




<section class="slider-pro slider" id="slider">
	<div class="sp-slides">

		<div class="sp-slide main-slides">
			<div class="img-overlay"></div>

			<img  height="100%" width="100%" class="sp-image img-responsive center-block" src="images/slider/slider-img-3.jpg" alt="Slider 3"/>


			<h1 class="sp-layer slider-text-big"
				data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
				<span style="cursor:pointer" onclick="toIndex()" class="highlight-texts">Welcome to arongblog</span>
			</h1>

			<p class="sp-layer"
			   data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200" data-show-transition="left" data-hide-transition="right">
				take a look now!
			</p>
		</div>

		<script>
			function toIndex(){
			    location.href = "/index";
			}
		</script>


	</div>
</section>
<!-- Main Slider End -->





<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.scrollUp.min.js"></script>
<script src="js/jquery.easypiechart.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/jquery.fitvids.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.nav.js"></script>
<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/smooth-scroll.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.sliderPro.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="contact/jqBootstrapValidation.js"></script>
<script src="contact/contact_me.js"></script>
<script src="js/custom.js"></script>

</body>
</html>